.clases {
    background-color: $light;
    color: $primary;
    padding: 2rem;
    text-align: start;
    font-style: normal;
    font-family: 'Barlow', sans-serif;

    img {
        width: 300px;
        margin-top: 3rem;
    }

    h1 {
        font-size: 1.5rem;
        padding-top: 7rem;
    }

    h2 {
        font-size: 1.3rem;
        padding-top: 2rem;
        font-weight: 600;
    }

    ul {
        font-size: 1rem;
        padding-top: 1rem;

        li,
        p {
            font-size: 1rem;
            font-weight: 600;
        }

        p {
            font-weight: 400;
        }
    }


    // __Inicio estilos tablet__

    @media (min-width: 768px) {
        padding-top: 2rem;
        
        img {
            margin-top: 4rem;
            width: 300px;
        }
    }

    // __Inicio estilos desktop__
    @media (min-width: 992px) {
        font-size: 1.5rem;
        padding-top: 5rem;
        
        img {
            margin-top: 1px;
            width: 600px;
        }
        h1 {
            padding-top: 2rem;
        }

        ul {
            padding-top: 0.3rem;
            text-align: start;
        }
    }
}