.clases {
    background-color: $light;
    color: $primary;
    padding: 2rem;
    text-align: center;
    padding-right: 3.5rem;
    font-style: normal;
    font-family: 'Barlow', sans-serif;

    h1 {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        padding-top: 7rem;
    }

    h2 {
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        font-weight: 600;
    }

    ul {
        font-size: 1rem;
        padding-top: 1rem;

        li,
        p {
            font-size: 1rem;
            font-weight: 600;
            margin-top: 2%;
        }

        p {
            font-weight: 400;
        }
    }


    // __Inicio estilos tablet__

    @media (min-width: 768px) {
        padding-top: 7rem;
    }

    // __Inicio estilos desktop__
    @media (min-width: 992px) {
        font-size: 1.5rem;
        padding-top: 5px;

        h1 {
            padding-top: 7rem;
        }

        ul {
            padding-top: 0.3rem;
            text-align: center;
        }
    }
}