.nosotros {
    background-color: $light;
    color: $primary;
    padding: 70px 80px;
    text-align: start;
    font-style: normal;
    font-family: 'Barlow', sans-serif;


    h1 {
        padding-top: 6rem;
        font-size: 1.5rem;
    }

    p {
        padding-top: 0.5rem;
        line-height:45px;
        font-size: 1.2rem;
    }

    h2 {
        padding-top: 2rem;
        font-size: 1.3rem;
    }

    h3 {
        padding-top: 1rem;
    }

    // __Inicio estilos desktop__
    @media (min-width: 992px) {
            padding-top: 1rem;
    }
}