.main__header {
    position: fixed;
    background-color: $secondary;
    font-family: 'Barlow', sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3%;
    z-index: 1;

    img {
        padding: 1rem;
        width: 230px;

    }

    // __Inicio estilos tablet__
    @media (min-width: 768px) {
        justify-content: space-between;
        align-items: center;
        height: 110px;

    }

    // __Inicio estilos desktop__
    @media (min-width: 992px) {
        height: 80px;
        display: grid;
        grid-template-rows: 2px auto;
        justify-content: space-between;
        align-items: center;
    }
}