.main__header {
    position: fixed;
    background-color: $secondary;
    font-family: 'Barlow', sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3%;
    z-index: 1;

    img {
        padding: 0.5rem;
        width: 300px;
        padding-left: 3.5rem;

    }

    // __Inicio estilos tablet__
    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        &__logo img {
            padding: 0;
            margin-left: 5px;
        }
    }

    // __Inicio estilos desktop__
    @media (min-width: 992px) {
        height: 80px;
        display: grid;
        grid-template-columns: 600px auto;
        grid-template-rows: 2px auto;
        justify-content: space-evenly;
        align-items: center;
    }
}